<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
{{> /include/head}}
<link rel="stylesheet" href="../css/create_article_page.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
	{{> /include/header}}
	<main class="mdl-layout__content">
	<div class="page-content view_detail_model">
	<h1>모임 개설하기</h1>
		<!-- Main Card -->
		<div class="container" id="main">
			{{#sessionedUser}}
			<form name="/create_meeting" method="post"
				action="/meeting/{{id}}/create_article">
				{{/sessionedUser}}

				<div class="article_contents" id="article_date_atrea">
					<label class="article_index" for="date">날짜 선택</label>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="date" id="date">
						<label class="mdl-textfield__label" for="date"></label>
					</div>
				</div>

				<div class="article_contents" id="article_time_atrea">
					<label class="article_index" for="time">시간 선택</label>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="time" id="time">
						<label class="mdl-textfield__label" for="time"></label>
					</div>
				</div>

				<div class="article_contents" id="article_bomb_time_atrea">
					<label class="article_index" for="bomb_time">폭파시간 선택</label>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="time" id="bomb_time">
						<label class="mdl-textfield__label" for="time"></label>
					</div>
				</div>

				<div class="article_contents" id="article_location_atrea">
					<label class="article_index"for="location">장소 선택</label>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="location">
						<label class="mdl-textfield__label" for="location"></label>
					</div>
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2"> 
						<input type="checkbox" id="checkbox-2" class="mdl-checkbox__input"> 
						<span class="mdl-checkbox__label">장소 없음/미정</span></label>
						<iframe width="600" height="450" frameborder="0" style="border: 0"
								src="https://www.google.com/maps/embed/v1/search?q=Seoul&key=AIzaSyC7FOJMYs0GvlYdn97cqrRQnqS8LynVzJs"
								allowfullscreen> </iframe>
				</div>
				
				<div class="article_contents" id="capacity">
					<label class="article_index" for="capacity">모임 정원</label>
					<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-slider mdl-js-slider" type="range" min="1" max="30" value="5" tabindex="0">
					</div>
				</div>
				
				<div class="article_contents" id="article_detail">
					<label class="article_index" id="article_detail_index" for="detail">모임 상세</label>
					<div class="mdl-textfield mdl-js-textfield" id="textarea">
						<textarea class="mdl-textfield__input" type="text" rows= "10" id="input_detail"></textarea>
						<label class="mdl-textfield__label" for="detail" id="label_detail"></label>
					</div>
				</div>
				
				<div class="buttonArea">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="pre_view">
					  미리보기
					</button>
					
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="temporary_save">
					  임시저장
					</button>
					
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="complete">
					  개설완료
					</button>
				</div>

			</form>
		</div>
	</div>

	</div>
	</div>
	</main>
	</div>
	<script
		src="http://maps.google.co.kr/maps?file=api&amp;v=2&amp;key=AIzaSyC7FOJMYs0GvlYdn97cqrRQnqS8LynVzJs"
		type="text/javascript"></script>
	<script src="/js/maps.js"></script>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>