<!DOCTYPE html>
<html lang="en">
<head>
{{> /include/head}}
</head>

<body>
{{> /include/header}}

  <main class="mdl-layout__content">
    <div class="page-content sign_card_model">
      <!-- Main Card -->
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
        </div>
        <form action="#">

          <div class="mdl-card__supporting-text">
            <div class="signup_email_label">가입 시 사용하신 이메일을 입력해주세요!</div>
            <div class="mdl-textfield mdl-js-textfield">
              <label class="mdl-textfield__label" for="userEmail">E-mail</label>
              <input class="mdl-textfield__input" type="email" id="userEmail" name="userEmail">
            </div>
            <div class="find-password-message">
            	<p>! 위 메일로 보내지는 링크로 접속하셔서 비밀번호를 변경해주세요.</p>
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect submit-button">
              완료
            </a>
            <a href="/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect cancel-button">
              취소
            </a>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
{{> /include/footer}}

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>