<!DOCTYPE html>
<html lang="en">
<head>
	{{> /include/head}}
	<link rel="stylesheet" href="../css/friend_list_page.css">
</head>
<body>
{{> /include/header}}
<main class="main__content">
	<div class="friend-searchbar main-center-align">
		<label for="searchValue"></label>
		<input type="text" placeholder="친구를 검색 하세요!" id="searchValue" name="searchValue" autofocus/>
		<button>검 색</button>
	</div>
	<div class="friend-list-box">
		<div class="friend-classify-list">
			<a class="friend-classify" href="/html/friend_list.html"><span style="border-right: 1px solid #C4C4C4 ;">내 친구 목록</span></a>
			<a class="friend-classify" href="/"><span>모임에서 만난 사람</span></a>
		</div>

		<div class="friend-list">
			<div class="friend-list-one">
				<img src="/image/sample.jpg" alt="">
				<p>한재엽</p>
				<span>ljyhanl@gmail.com</span>
				<div class="friend-add-button">
					추가
				</div>
			</div>
		</div>

		<div class="friend-list">
			<div class="friend-list-one">
				<img src="/image/sample.jpg" alt="">
				<p>한재엽</p>
				<span>ljyhanl@gmail.com</span>
				<div class="friend-add-button">
					추가
				</div>
			</div>
		</div>
		<div class="friend-list">
			<div class="friend-list-one">
				<img src="/image/sample.jpg" alt="">
				<p>한재엽</p>
				<span>ljyhanl@gmail.com</span>
				<div class="friend-add-button">
					추가
				</div>
			</div>
		</div>
	</div>
</main>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>