<!DOCTYPE html>
<html lang="en">
<head>
	{{> /include/head}}
	<link rel="stylesheet" href="../css/friend_list_page.css">
</head>
<body>
{{> /include/header}}
<main class="main__content">
	<form id="searchForm" action="/api/user/search" method="post">
	<div class="friend-searchbar main-center-align">
		<label for="searchValue"></label>
		<input type="text" placeholder="친구를 검색 하세요!" id="searchValue" name="userName" autofocus/>
		<button type="button" id="searchBtn">검 색</button>
	</div>
	</form>
  <div class="friend-search-result-box">
  	<div class="friend-classify-list">
  	  <span class="friend-classify">검색 결과</span>
      <div class="friend-search-list">
      </div>
    </div>
  </div>	
  <div class="friend-request-box">
    <div class="friend-classify-list">
      <a id="requestToUserListBtn" class="friend-classify" href="/api/user/show/1" style="border-right: 1px solid #C4C4C4 ;">내가 한 친구 요청</a>
      <a id="requestToMeListBtn" class="friend-classify" href="/api/user/show/2">내게 온 친구 요청</a>
      <div class="friend-request-list">
      </div>
    </div>
  </div>

  <div class="friend-list-box">
    <div class="friend-classify-list">
	  <a id="myFriendListBtn" class="friend-classify" href="/api/user/show/3" style="border-right: 1px solid #C4C4C4 ;">내 친구 목록</a>
	  <a id="metUserListBtn" class="friend-classify" href="/api/user/show/4">모임에서 만난 사람</a>
	</div>
	<div class="friend-list">
	</div>
  </div>
</main>

<script type="text/html" id="requestToUser">
  <div class="friend-list-one">
	<img src="/images/{2}" alt="profileImage">
    <p>{0}</p>
    <span>{1}</span>
    <div class="friend-button friend-cancel-button">
      <a href="/cancel/requestToUser/{2}">요청취소</a>
    </div>
  </div>
</script>

<script type="text/html" id="requestToMe">
  <div class="friend-list-one">
    <img src="/images/{2}" alt="profileImage">
    <p>{0}</p>
    <span>{1}</span>
    <div class="friend-button friend-accept-button">
      <a href="/confirm/requestToMe/{2}">승인</a>
    </div>
  </div>
</script>
<script type="text/html" id="myFriend">
    <div class="friend-list-one">
      <img src="/images/{2}" alt="profileImage">
      <p>{0}</p>
      <span>{1}</span>
      <div class="friend-button friend-delete-button">
      	<a href="/deleteFriend/{2}">삭제</a>
      </div>
    </div>
</script>
<script type="text/html" id="metUser">
    <div class="friend-list-one">
      <img src="/images/{2}" alt="profileImage">
      <p>{0}</p>
      <span>{1}</span>
      <div class="friend-button friend-add-button">
      	<a href="/requestToMet/{2}">요청</a>
      </div>
    </div>
</script>
<script type="text/html" id="non-list">
  <p class="request-friend-nothing">유저가 없습니다!</p>
</script>
<script type="text/html" id="search-result">
	<div class
</script>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/friend_list.js"></script>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>