<!DOCTYPE html>
<html lang="en">
<head>
  {{> /include/head}}
  <link rel="stylesheet" href="../css/main_page.css">
</head>

<body>
{{> /include/header}}
<main class="mdl-layout__content">
  <div class="main_page_label">
    <p>모임에 참여해보세요!</p>
  </div>
  <ul id="meeting_list">
  	{{#meetings}}
    <li>
      <div class="meeting">
				<p class="destroy_time">{{expireDate}}</p>
				<div class="meeting_thumbnail">
					<img
						src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png"
						class="meeting_thumbnail_img" />
				</div>
				<div class="basic_info">
					<div class="time">
						<i class="fa fa-calendar-check-o"></i> <span class="time_text">{{formattedMeetingDate}}</span>
					</div>
					<div class="event_place">
						<i class="fa fa-map-marker"></i> <span class="event_place_text">{{location}}</span>
					</div>
					<div class="participants">
						<i class="fa fa-user"></i> <span class="current_participants">{{curParticipantNum}}</span>
						<span>/</span> <span class="overall_participants">{{capacity}}</span>
					</div>
				</div>
				<p class="main_text">{{contents}}</p>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent detail_button">자세히
					보기</button>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent join_button"
					url="/api/meeting/join/{{id}}">조인</button>
			</div>
		</li>
    {{/meetings}}
  </ul>
</main>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="/js/main_page.js"></script>
</body>
</html>