<!DOCTYPE html>
<html lang="en">
<head>
{{> /include/head}}
<link rel="stylesheet" href="../css/main_page.css">
</head>

<body>
	{{> /include/header}}
	<h1>Main Page</h1>
	<div class="container">
		<ul id="meeting_list">
			<div class="meeting">
				<p class="destroy_time">10월 5일 19:02</p>
				<div class="meeting_thumbnail">
					<img
						src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png"
						class="meeting_thumbnail_img" />
				</div>
				<div class="basic_info">
					<div class="time">
						<i class="fa fa-cloud"></i> <span class="time_text">2016/9/10
							14:00</span>
					</div>
					<div class="event_place">
						<i class="fa fa-map-marker"></i> <span class="event_place_text">강남
							카페 에스투</span>
					</div>
					<div class="participants">
						<i class="fa fa-user"></i> <span class="current_participants">4</span>
						<span>/</span> <span class="overall_participants">5</span>
					</div>
				</div>
				<p class="main_text">홍대 카페에서 공부할 거에요! 같이할 사람?</p>
				<a class="waves-effect waves-light btn detail_button">자세히 보기</a> <a
					class="waves-effect waves-light btn join_button">조인</a>
				<div class="meeting_detail">
					
					<!-- List items with avatar and action -->
					<p id="meeting_expire">모임 폭파까지 <span>02:38</span></p>
					<p>내 지인</p>
					<div class="demo-list-action mdl-list">
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>자바지기</span>
							</span> 
						</div>
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>산지기</span>
							</span> 
						</div>
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>들배지기</span>
							</span> <span class="mdl-list__item-secondary-content"> 
							</span>
						</div>
					</div>
					<p>알 수도 있는 사람</p>
					<div class="demo-list-action mdl-list">
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>양봉탁</span>
							</span> 
						</div>
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>서준철</span>
							</span> 
						</div>
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>곽무봉</span>
							</span> <span class="mdl-list__item-secondary-content"> 
							</span>
						</div>
					</div>
					<p class="detail_map_p">모임 장소</p>
					<div class="detail_map" align="center">
					
					</div>
					<div class="detail_join">
						<p>조인</p>
					</div>
					<div class="detail_comment">
						<p>댓글</p>
						<div class="demo-list-action mdl-list">
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>모임 장소가 너무 멀어요 ㅠㅠ 다른 분들은 어떠세요?</span>
							</span> 
						</div>
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>이거 모임 폭파된 뒤에도 다른 방법으로 추가 신청 가능 한가요?</span>
							</span> 
						</div>
						<div class="mdl-list__item">
							<span class="mdl-list__item-primary-content"> <i
								class="material-icons mdl-list__item-avatar">person</i> <span>자바지기님 다음주에 뵙겠습니다~</span>
							</span> <span class="mdl-list__item-secondary-content"> 
							</span>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="meeting">
				<p class="destroy_time">10월 5일 19:02</p>
				<div class="meeting_thumbnail">
					<img
						src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png"
						class="meeting_thumbnail_img" />
				</div>
				<div class="basic_info">
					<div class="time">
						<i class="fa fa-cloud"></i> <span class="time_text">2016/9/10
							14:00</span>
					</div>
					<div class="event_place">
						<i class="fa fa-map-marker"></i> <span class="event_place_text">강남
							카페 에스투</span>
					</div>
					<div class="participants">
						<i class="fa fa-user"></i> <span class="current_participants">4</span>
						<span>/</span> <span class="overall_participants">5</span>
					</div>
				</div>
				<p class="main_text">홍대 카페에서 공부할 거에요! 같이할 사람?</p>
				<a class="waves-effect waves-light btn detail_button">자세히 보기</a> <a
					class="waves-effect waves-light btn join_button">조인</a>
			</div>
		</ul>
	</div>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<script src="../js/main_page.js"></script>
</body>
</html>