<!DOCTYPE html>
<html lang="en">
<head>
  {{> /include/head}}
  <link rel="stylesheet" href="../css/main_page.css">
</head>

<body>
{{> /include/header}}
<main class="mdl-layout__content">
  <div class="main_page_label">
    <p>모임에 참여해보세요!</p>
  </div>
  <ul id="meeting_list">
    <li>
      <div class="meeting">
        <p class="destroy_time">10월 5일 19:02</p>
        <div class="meeting_thumbnail">
          <img
              src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png"
              class="meeting_thumbnail_img"/>
        </div>
        <div class="basic_info">
          <div class="time">
            <i class="fa fa-cloud"></i> <span class="time_text">2016/9/10
								14:00</span>
          </div>
          <div class="event_place">
            <i class="fa fa-map-marker"></i> <span class="event_place_text">강남
								카페 에스투</span>
          </div>
          <div class="participants">
            <i class="fa fa-user"></i> <span class="current_participants">4</span>
            <span>/</span> <span class="overall_participants">5</span>
          </div>
        </div>
        <p class="main_text">홍대 카페에서 공부할 거에요! 같이할 사람?</p>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent detail_button">자세히 보기</button>
	    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent join_button">조인</button>
			</div>
    </li>
  </ul>
</main>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>