<!DOCTYPE html>
<html lang="en">
<head>
{{> /include/head}}
<link rel="stylesheet" href="/css/my_meeting_page.css">
</head>

<body>
	{{> /include/header}}
				<div class="container">
				<h1>내 모임</h1>
				<div class="sorting_index">
					<button class="mdl-button mdl-js-button mdl-button--primary">
					  최신순
					</button>

					<button class="mdl-button mdl-js-button mdl-button--accent">
					  마감 임박순
					</button>
				</div>
				<!-- Event card -->
			

				<div class="demo-card-event mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand">
						<h4>
							강남에서 술 한잔 하실 분~<br> May 24, 2016 / 7-11pm<br><br>2 hours left to bomb!
						</h4>

						
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a
							class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							모임 상세보기 </a>
							
						<div class="mdl-layout-spacer"></div>
						<div class="material-icons mdl-badge mdl-badge--overlap" data-badge="4">account_box</div>
						<i class="material-icons">event</i>
						<div id="tt4" class="icon material-icons">share</div>
						<div class="mdl-tooltip" for="tt4">
						Share your content<br>via social media
						</div>
					</div>
				</div>
				
				



			</div>
	</main>
	</div>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>
</html>