<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Login</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="#">모임</a>
        <a class="mdl-navigation__link" href="friend_list_page.html">친구</a>
        <a class="mdl-navigation__link" href="#">설정</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Mojito</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#">프로필</a>
      <a class="mdl-navigation__link" href="#">모임</a>
      <a class="mdl-navigation__link" href="#">친구</a>
      <a class="mdl-navigation__link" href="#">설정</a>
    </nav>
  </div>