.social-login{
  margin: 20px auto;
}

.kakao-login-button{
  background-color: #FFE552;
  text-align: center;
  padding: 15px;
  margin: 0 30px;
}

.kakao-login-button{
  font-weight: bold;
}

.kakao-login-button img{
  height: 20px;
  margin-right: 5px;
}