@CHARSET "UTF-8";

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

li {
  list-style: none;
}

main {
  height: 105%;
}

.main_page_label {
  width: 880px;
  margin: 3em auto 3em auto;
}

.main_page_label p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #000;
}

#meeting_list {
  width: 930px;
  margin: 0px auto;
}

.meeting {
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 24px;
}

.meeting_thumbnail {
  width: 160px;
  height: 112px;
  float: left;
  display: inline;
  vertical-align: middle;
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/41I8Tc2YzrL._SX300_.jpg");
  background-size: 100%;
}

.meeting_thumbnail_img {
  display: block;
  margin: auto;
  padding: 30px 30px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  text-align: center;
  overflow: hidden;
}

.destroy_time {
  margin-bottom: 0px;
}

.time {
  margin-left: 60px;
  display: inline;
}

.event_place {
  margin-left: 30px;
  display: inline;
}

.participants {
  margin-left: 30px;
  display: inline;
}

.basic_info {
  margin-left: 230px;
  margin-right: 5px;
  background: #F7F8F9;
}

.main_text {
  width: 330px;
  padding-left: 200px;
  padding-top: 20px;
  text-align: center;
}

.detail_button {
	left: 540px;
}

.join_button {
	left: 550px;
}