@CHARSET "UTF-8";

body {
	font-family: "Helvetica", "Arial", sans-serif;
}

.meeting p {
	
}

#meeting_list {
	width: 1200px;
	padding: 0 200px;
	margin: 0px auto;
}

.meeting { 
	margin-right: 300px;
	margin-top: 40px;
	padding-bottom: 20px;
	padding-top: 10px;
	background: #00C7B3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, rgba(146, 217, 83, 0.5), rgba(146, 217, 83, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, rgba(146, 217, 83, 0.5), rgba(146, 217, 83, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, rgba(146, 217, 83, 0.5), rgba(146, 217, 83, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, rgba(146, 217, 83, 0.5), rgba(146, 217, 83, 1)); /* Standard syntax */
    box-shadow: 10px 10px 5px #888;
}
.meeting_thumbnail {
	width: 160px;
	height: 112px;
	display: inline-block;
	float: left;
	display: inline;
	vertical-align: middle;
	background-image:
		url("https://images-na.ssl-images-amazon.com/images/I/41I8Tc2YzrL._SX300_.jpg");
	background-size: 100%;
}

.meeting_thumbnail_img {
	display: block;
	margin: auto;
	padding: 30px 30px;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	text-align: center;
	overflow: hidden;
}

.destroy_time {
	margin-bottom: 0px;
}

.time {
	margin-left: 60px;
	display: inline;
}

.event_place {
	margin-left: 30px;
	display: inline;
}

.participants {
	margin-left: 30px;
	display: inline;
}

.basic_info {
	margin-left: 230px;
	margin-right: 40px;
	background: #00C7B3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, rgba(0, 199, 179, 1), rgba(0, 199, 179, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, rgba(0, 199, 179, 1), rgba(0, 199, 179, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, rgba(0, 199, 179, 1), rgba(0, 199, 179, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, rgba(0, 199, 179, 1), rgba(0, 199, 179, 0.3)); /* Standard syntax */
}

.main_text {
	width: 330px;
	padding-left: 200px;
	padding-top: 20px;
	text-align: center;
}

.detail_button {
	margin-left: 550px;
	border: 2px solid rgb(255, 64, 129);
	padding: 5px;
	border-radius: 30px;
}

.join_button {
	margin-left: 10px;
	border: 2px solid rgb(255, 64, 129);
	padding: 5px 15px;
	border-radius: 30px;
}

.meeting_detail {
	margin-top: 40px;
	padding-bottom: 40px;
	border-top: 1.5px solid #EEE;
	display: none;
	background: #EEE;
}

.detail_map {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	
	background: blue;
	background-size: 100%;
	background: url("https://developers.naver.com/inc/devcenter/images/mapjs-sample.png") no-repeat center;
}

.meeting_detail > p {
	margin: 10px 20px;
	font-size: 2em;
	border-bottom: 1px solid #888;
	padding-right: 40px;
	padding-bottom: 10px;
}

.detail_map_p {
	margin: 10 auto;
	font-size: 2em;
	text-align: center;
}

.detail_join > p {
	font-size: 2em;
	display: inline-block;
	margin-right: 30px;
	float: right;
	padding: 10px 30px;
	border: 2px solid red;
	border-radius: 25%;
	margin-bottom: 30px;
}

.mdl-list__item, .mdl-list__item-primary-content {
	display: inline-block;
}

#meeting_expire {
	font-size: 3em;
	margin-top: 40px;
	text-align: center;
}

#meeting_expire span {
	font-size: 2em;
}

.detail_comment > p {
	margin-top: 60px;
	margin-left: 30px;
	margin-right: 30px;
 	font-size: 2em;
 	border-bottom: 1.5px solid #888;
}

.detail_comment .mdl-list__item, .mdl-list__item-primary-content {
	display: block;
}