@CHARSET "UTF-8";
#show_my_meeting {
  margin: 20px;
  display: block;
}

.meeting_category {
  margin: 20px;
}

.create_meeting_subject {
  margin-bottom: 0px;
  margin-left: 50px;
}

.friend_picture {
  display: inline;
}

.meeting_information {
  padding-bottom: 25px;
  padding-top: 15px;
  background-color: #EEE;
  display: inline;
  border-collapse: collapse;
}

.meeting_information td {
  padding-left: 30px;
  padding-right: 30px;
}

.meeting_detail {
  margin-top: 10px;
  padding-left: 70px;
  line-height: 110%;
}

.meeting_hash_tag {
  font-size: 8px;
  margin-top: 10px;
  line-height: 0%;
  padding-left: 70px;
}