@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.container{
	margin-top : 20px;
	margin-left : 100px;
	margin-right : 100px;
	margin-bottom: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: #DDD;
}

.container h1{
	font-family:'Jeju Gothic', sans-serif;
	margin-top : 20px;
	margin-left : 50px;
	margin-right : 50px;
	margin-bottom: 50px;
	font-size: 30px;
}

.container .sorting_index{
	display: block;
	text-align: right;
	margin-right: 50px;
}

.container .sorting_index a{
	text-decoration: none;
}

.demo-card-event.mdl-card {
	width:auto;
	height: 256px;
	background: #3E4EB8;
	margin-top : 20px;
	margin-left : 50px;
	margin-right : 50px;
	margin-bottom: 50px;
}

.demo-card-event>.mdl-card__actions {
	border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event>.mdl-card__title {
	align-items: flex-start;
}

.demo-card-event>.mdl-card__title>h4 {
	margin-top: 0;
}

.demo-card-event>.mdl-card__actions {
	display: flex;
	box-sizing: border-box;
	align-items: center;
}

.demo-card-event>.mdl-card__actions>.material-icons {
	padding-right: 10px;
}

.demo-card-event>.mdl-card__title, .demo-card-event>.mdl-card__actions,
	.demo-card-event>.mdl-card__actions>.mdl-button {
	color: #fff;
}