@CHARSET "UTF-8";

.sign_card_model {
  display: block;
}

.demo-card-wide.mdl-card {
  width: 512px;
  margin: 40px auto;
}

.demo-card-wide > .mdl-card__title {
  display: block;
  width: 512px;
  height: 244px;
  background-image: url('../image/signup_title_image.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
}

.demo-card-wide > .mdl-card__menu {
  color: #000;
}

.signup_email_label {
  margin-top: 20px;
}

.mdl-textfield {
  width: 100%;
}

.mdl-card--border a {
  float: right;
}

.mdl-card--border .cancel-button {
  color: #6d6f6d;
}

.mdl-card--border .submit-button {
  color: #00C7B3;
}