<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="/main_page"><span class="mdl-layout-title">Mojito</span></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/meeting/create">새 모임</a>
        <a class="mdl-navigation__link" href="/meeting/my">모임</a>
        <a class="mdl-navigation__link" href="/friends">친구</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Mojito</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#">새 모임</a>
      <a class="mdl-navigation__link" href="/meeting/my">모임</a>
      <a class="mdl-navigation__link" href="/friends">친구</a>
    </nav>
  </div>