<!-- Always shows a header, even in smaller screens. -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="/main_page"><span class="mdl-layout-title">Mojito</span></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      {{^sessionedUser}}
        <a class="mdl-navigation__link" href="/">로그인</a>
      {{/sessionedUser}}
      {{#sessionedUser}}
        <a class="mdl-navigation__link" href="/meeting/create">새 모임</a>
        <a class="mdl-navigation__link" href="/meeting/my">모임</a>
        <a class="mdl-navigation__link" href="/friends">친구</a>
        <a class="mdl-navigation__link" href="/update">개인 정보 수정</a>        
        <a class="mdl-navigation__link" href="/logout">로그아웃</a>
      {{/sessionedUser}}
      </nav>
    </div>
  </header>